@import url('../../index.css');

.SingupPage-container {
  width: 1300;
  height: 650;
  background-color: #A0C8F0;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 10px 1px #2c2c2c46;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logotipo {
  width: 35%;
  display: flex;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: #C02A12;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-user, .input-password, .input-confirm-password, .signup-btn {
  width: 350px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border-style: none;
  font-family: 'Roboto Mono', monospace;
  padding: 15px;
}

.signup-btn, .cancel-hiperlink {
  cursor: pointer;
  text-align: center;
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: none;
  width: 390px;
}

.cancel-hiperlink {
  color: #dd7d0f;
  margin-top: 35px;
}

.signup-btn {
  font-size: 15px;
}

.signup-btn:hover {
  background-color: #dd7d0f;
  color: white;
  font-size: 15px;
}

.tooltip-user, .tooltip-password, .tooltip-password-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
  background-color: #dd7d0f;
  border-radius: 100px;
  padding: 5px;
  width: 25px;
  height: 30px;
  text-decoration: none;
  border-style: none;
  color: white;
  font-weight: bold;
  margin-left: 15px;
}

[data-tooltip]::after {
  position: absolute;
  width: 140px;
  right: calc(50% - 70px);
  right: 125%;
  text-align: center;
  box-sizing: border-box;
  content: attr(data-tooltip);
  color: #dd7d0f;
  background-color: rgba(255, 255, 255, 0.658);
  padding: 8px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.input-tooltips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-btn-and-hiperlink {
  display: flex;
  flex-direction: column;
}