@import url('../../index.css');

.SingupPage-container{
  width: 1300;
  height: 650;
  background-color: #A0C8F0;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 10px 1px #2c2c2c46;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logotipo{
  width: 30%;
}

h1{
  font-size: 30px;
  text-align: center;
  color: #C02A12;

}
.signup-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-user,.input-password,.input-confirm-password,.signup-btn{
  width: 350px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border-style: none;
  font-family: 'Roboto Mono', monospace;
}

.input-user,.input-password,.input-confirm-password{
  padding: 15px;
}

.signup-btn,.cancel-hiperlink{
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.cancel-hiperlink{
color: #dd7d0f;
}

.signup-btn:hover{
  background-color: #dd7d0f;
  color: white;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.input-tooltips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-btn-and-hiperlink {
  display: flex;
  flex-direction: column;
}

.success-sign {
  padding: 10px;
  font-size: 18px;
  border-radius: 25px;
  background-color: rgba(42, 185, 42, 0.76);
  color: white;
  position: absolute;
  animation: mymove 2s;
  width: 390px;
  text-align: center;
  bottom: 150px;
  opacity: 1;
}

@keyframes mymove {
  from { bottom: 100px;}
  to { bottom: 150px;}
  from{ opacity: 0;}
  to{ opacity: 1;}
}

.loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid#C02A12;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}

.hidden {
  display:none;
}