.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .6
	}
	to {
		opacity: 1
	}
}

.carousel {
	display: flex;
	justify-content: center;
}

.carousel-container {
	height: 300px;
	width: 880px;
	background-color: #DD7D0F;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.carousel-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 300px;
}

.carousel-buy-tools {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 300px;
}

.pizza-title {
	font-size: 48px;
	color: white;
	font-weight: medium;
	margin: 0;
}

.pizza-description, .pizza-price {
	color: white;
	font-size: 18px;
	font-weight: normal;
}

.pizza-description {
	font-family: 'Roboto Mono', monospace;
}

.pizza-price-container {
	background-color: #BE2e16;
	border-radius: 50px;
	height: 42px;
	width: 105px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.pizza-price {
	margin: 0;
	text-align: center;
}

.pizza-amount, .pizza-buy {
	height: 40px;
	border-radius: 50px;
	outline: none;
	border: none;
}

.pizza-amount {
	width: 65px;
	padding: 12px;
}

.pizza-buy {
	width: 38px;
	cursor: pointer;
}

.div-next-arrow{
	display: flex;
	justify-content: flex-end;
}

.previous-arrow, .next-arrow {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	cursor: pointer;
	height: 280px;
	padding: 10px;
	font-size: 25px;
	border-radius: 0 3px 3px 0;
	background-color: rgba(255, 255, 255);
}

.next-arrow {
	border-radius: 3px 0 0 3px;
}