@import url('../../index.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500&display=swap');

body {
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 500;
}

.dev-junior, .dev-pleno, .dev-senior, .specialist {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}

.dev-junior-title-bars, .dev-pleno-title-bars, .dev-senior-title-bars, .specialist-title-bars {
color: #be2e16;
}
.dev-junior-titles, .dev-pleno-titles, .dev-senior-titles, .dev-specialist-titles{
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  color: #dd7d0f;
}

.div-sale-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.div-pizzas-title{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dev-junior-card, .dev-pleno-card, .dev-senior-card, .specialist-card{
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: 150px;

}

#footer{
  width: 100%;
}
